<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Word Guess!</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <section class="wrapper">
        <div class="header">
            <div class="gameName">
                <h1>Mystery Word Game</h1>
                <h2>You have {{guessesRemaining}} gueses left</h2>
            </div>
        </div>
        <div class="gamePlay">
            <span>{{displayWord}}</span>
        </div>
        <div class="gameInput">
          <form action="taketurn" method="post">
            <input class="input" type="text" name="guess" id="guess" autofocus autocomplete="off">
            <button class="button" type="submit" name="submit"><span>Make a guess</span></button>
            </form>
        </div>
        <div class="letters">
            <p><b>Letters Guessed: </b><span>
              {{#lettersGuessed}}
              {{.}}, 
              {{/lettersGuessed}}</span></p>
        </div>
        <div class="gameMessage">
          {{#errorMessage}}
          {{.}}
          {{/errorMessage}}
         </div>
        <div class="footer">
            <a href="/" alt="Home">Home</a>
            <a href="/winners" alt="Winners page">Winners</a>
            <a href="/settings" alt="Settings">Settings</a>
        </div>
    </section>
</body>

</html>