<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Word Guess!</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <h1>You lost....</h1>
  <h1>{{currentWord}}!</h1>
  <div>
      Letters guessed: {{lettersGuessed}}
      <br>
      Total missed guesses: {{numberGuesses}}
  </div>
      <form action="/start" method="post">
  <button type="submit">Restart</button>
  </form>
</body>
</html>